.text-red {
    color: red;
}

label.error.fail-alert {
    border: 2px solid red;
    border-radius: 4px;
    line-height: 1;
    margin-top: 1rem;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
    }

.valid.success-alert {
    border: 2px solid #4CAF50;
    color: green;
    }


.top-1rem {
    margin-top: 1rem;
}

.left-1rem {
    margin-left: 1rem;
}

.size-button-plus {
    padding: 1px 30px 1px;
}

.size-button-minus {
    padding: 1px 32px 1px;
}

.border {
    border: 1px solid;
}

.size-cell {
    overflow:hidden;
    min-width: 192px;
    max-width: 192px;
    height: 33px;
}

.table-block {
  width: 100%;
  max-width: auto;
  height: 240px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

#canvas-color {
    background:black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px slategray;
}

#button-random-color {
    white-space: normal;
}

#map {
    width: 600px;
    height: 400px;
}

#error-map {
    border: 2px solid red;
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
    }